# =========================
# Python cache
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.venv/
env/

# =========================
# Environment variables
# =========================
.env

# =========================
# Dataset
# =========================
data/train/
data/test/

# =========================
# Large trained model files
# =========================
models/*.h5
models/*.keras

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db